<?xml version="1.0" ?>
<model>
    <name>one_room</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jiyoon Park</name>
        <email>jypark.jiyoon@gmail.com</email>
    </author>
    <description>Room made to tell which side is which </description>
</model>
