<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

  <!-- Move to inito pose -->
  <node name="iiwa_init_pose" pkg="cmm_iiwa" type="init_pose" respawn="false" output="screen">
  </node>

  <!-- Run MoveIt! -->
  <include file="$(find ridgeback_iiwa_moveit)/launch/move_group.launch" />

  <!--- move base -->
  <include file="$(find ridgeback_navigation)/launch/odom_navigation_demo.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <include file="$(find cmm_viz)/launch/view_robot.launch" >
      <arg name="config" value="interactive_camera" />
    </include>
  </group>

</launch>

